.fundo{
	background-color: #007bfd;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.titulo{
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-bottom: 50px;
}

.formulario{
	display: flex;
	flex-direction: column;
}

input{
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

input::placeholder{
	color: white;
}

.campos{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid white;
	width: 320px;
	height:40px;
	align-items: center;
	margin-bottom: 15px;
	padding-left: 8px;
}

button{
	background-color: white;
	color: #007bfd;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 35%;
	height: 35px;
	align-self: flex-end;
	cursor: pointer;
}

.logo{
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 110px;
}
