nav{
	background-color: #007bfd;
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 55px;
	top: 0;
	right: 0;
	align-items: center;
	padding: 30px;
	justify-content: space-between;
}

.posicao{
	display: flex;
	flex-direction: row;
}

.item{
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

p{
	font-family: Arial, sans-serif;
	font-weight: 500;
	color: white;
}

.letra{
	margin-left: 10px;
}

.logout{
	display: flex;
	align-items: center;
	flex-direction: column;
	background: none;
	width: 150px;
	height: 130%;
	cursor: pointer;
}

img{
	height: 40px;
	margin-left: 40px;
}